.toast {
  position: fixed;
  left: 1rem;
  top: 1rem;
  background-color: #c0cceb;
  border-radius: 0.3rem;
  padding: 1rem;
  font-weight: 700;
  box-shadow: 0rem 0rem 0.5rem 0rem rgba(0, 0, 0, 0.75);
}
